
.felxbox-container{
   
    background-color: cornflowerblue;
    display: flex;
}

.felxbox-container2{
    
    background-color: cornflowerblue;
    display: flex;
}

h1{
    text-align: center;
}