
h1{
    color:black;
    text-align: center;
}

.container{
    background-color:grey;
    text-align: center;
    word-wrap: break-word;
}

.flexbox{
    background-color: aqua;
    text-align: center;
    word-wrap: break-word;
}   