.flexbox{
    background-color:rgb(184, 184, 184);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    width: auto;
    display: flex;
    }

.flexbox1{
    background-color:rgb(184, 184, 184);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    width: auto;
    display: flex;
}