.main-flex{
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    width: auto;
}
.felxbox-container{
    flex: 1;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 15px;
}

.felxbox-container2{
    flex: 1;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 15px;
}

h1{
    text-align: center;
}